@charset "UTF-8";
/*Variables*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
  text-shadow: 1px 0px 0px whitesmoke;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 3.2rem;
}

/*Header*/
header.cabecera {
  position: relative;
  top: 0px;
  width: 100%;
  height: 150px;
  margin: 0px;
  padding: 0px;
  background-image: url("../images/foto_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: "Pacifico";
  src: url(../Fonts/Pacifico/Pacifico-Regular.ttf);
}
header.cabecera h1 {
  color: #67b167;
  font-size: 85px;
  font-family: "Pacifico";
  text-shadow: 5px 0px 0px black;
  position: relative;
  top: 25px;
  left: 5px;
  bottom: 10px;
}

/*Barra de navegacion*/
.container-fluid {
  font-family: Pacifico;
  text-shadow: 1px 0px 0px whitesmoke;
  font-size: 25px;
  color: black;
  background-color: #67b167;
}
.container-fluid .navbar-brand {
  font-size: 30px;
  font-family: Pacifico;
}

/*Carousell*/
.slide {
  display: flexbox;
  margin: 5px;
  max-width: 100%;
  height: auto;
}
.slide img {
  width: 50vw;
  height: 35vw;
}

/*Texto*/
.box {
  display: inline-block;
  background-color: #67b167;
  height: auto;
  width: auto;
  border-style: groove;
  padding: 10px;
  text-align: justify;
}
.box p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

/*Imagenes*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px;
}

.grid-item {
  text-align: center;
  font-family: Pacifico;
  font-size: 30px;
  text-shadow: 1px 0px 0px whitesmoke;
  display: flex;
  flex-direction: column;
  background-color: #67b167;
  border-radius: 50px;
  justify-content: space-between;
}
.grid-item img {
  width: 100%;
  height: 70%;
  border-radius: 50px;
}
.grid-item img p {
  margin-top: 5px;
  padding-bottom: 25px;
}

.grid-item .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: Pacifico;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

form h3 {
  text-align: center;
  font-family: Pacifico;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

form input[type=submit] {
  background-color: #67b167;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-family: Pacifico;
}

/*conocenos*/
.sector-box {
  width: 100%;
  background-color: #67b167;
  padding: 10px;
  margin: 0.4rem;
  box-sizing: border-box;
}
.sector-box h4 {
  text-align: center;
  text-shadow: 1px 0px 0px whitesmoke;
  margin-bottom: 0.5;
  padding: 0.5px;
  font-family: pacifico;
}
.sector-box p {
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.sector-box img {
  width: 100%;
  height: 35rem;
}

/*footer*/
footer {
  background-color: #67b167;
  padding: 20px;
  text-align: left;
  font-family: Pacifico;
  text-shadow: 1px 0px 0px whitesmoke;
}

.Logo {
  display: flex;
  font-family: Pacifico;
  justify-content: center;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  footer {
    font-size: 14px;
  }
}
/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  footer {
    font-size: 16px;
  }
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 1201px) {
  footer {
    font-size: 18px;
  }
}
/* Media screen */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.grid-item {
  text-align: center;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
    grid-template-areas: "formulario-contacto" "formulario-quejas";
  }
}

/*# sourceMappingURL=style.css.map */
