@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";


@include encabezados(4rem);

/*Header*/
header.cabecera{
    position: relative;
    top: 0px;
    width: $anchoMax;
    height: 200px;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/foto_portada.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;

    @font-face {
        font-family: 'Pacifico';
        src: url(../Fonts/Pacifico/Pacifico-Regular.ttf);
    }

    h1 {
        color: #67b167;
        font-size: $fontSizeGrande;
        font-family: 'Pacifico';
        text-shadow: 5px 0px 0px black;
        position: relative;
        top: 25px;
        left: 5px;
        bottom: 10px;
        }

   }

   /*Barra de navegacion*/
   .container-fluid{
    font-family: Pacifico;
    text-shadow: 1px 0px 0px whitesmoke;
    font-size: 25px;
    color: black;
    background-color: #67b167;
    .navbar-brand{
    font-size: 40px;
    font-family: Pacifico;
     }
    .nav-link{
      font-size: 30px;
    }
    .dropdown-item{
      font-size: 25px;
    }
  }

  /*Carousell*/
  .slide{
    display: flexbox;
    margin: 5px ;
    max-width: 75%;
    height: auto;
    margin-left: 12%;
    img{
    width: auto;
    height:650px;
    }
  }


  /*Texto*/
  .box{
    display: inline-block;
    background-color: #67b167;
    height: auto;
    width: auto;
    border-style: groove;
    padding: 10px;
    text-align: justify;
    p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
    }
}
  /*Imagenes*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px;

}

.grid-item {
  text-align: center;
  font-family: Pacifico;
  font-size: 30px;
  text-shadow: 1px 0px 0px whitesmoke;
  display: flex;
  flex-direction: column;
  background-color: #67b167;
  border-radius: 50px;
  justify-content: space-between;
  img{
    width: 100%;
    height:70%;
    border-radius: 50px;
    p{
        margin-top: 5px;
        padding-bottom: 25px;
      }
  }
}

.grid-item

  /*Formularios*/
      .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      h2 {
        text-align: center;
        font-family: Pacifico;
        margin-top: 20px;
        margin-bottom: 25px;

      }
      .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }

      form {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
      }

      form h3 {
        text-align: center;
        font-family: Pacifico;
      }

      form label {
        display: block;
        margin-bottom: 5px;
      }

      form input,
      form textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
      }

      form input[type="submit"]{
        background-color: #67b167;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        font-family: Pacifico;
      }

  /*conocenos*/

  .sector-box {
    width: 100%;
    background-color: #67b167;
    padding: 10px;
    margin: 0.4rem;
    box-sizing: border-box;
    h4{
      text-align: center;
      text-shadow: 1px 0px 0px whitesmoke;
      margin-bottom:0.5;
      padding: 0.5px;
      font-family: pacifico;
    }
    p{
      text-align: center;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    img{
      width: 100%;
      height: 35rem;
    }
  }


  /*footer*/
  footer {
    background-color: #67b167;
    padding: 20px;
    text-align: left;
    font-family: Pacifico;
    text-shadow: 1px 0px 0px whitesmoke;
  }
  .Logo{
    display: flex;
    justify-content: center;
  }
  
  .redlogo img {
    width: 50px; /* Ajusta el tamaño a tu preferencia */
    height: 50px;
  }

  @import "partials/queries";






